<!DOCTYPE html>
<html lang="en">
<head>
  <title>Source Code</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/styles/main.css" rel="stylesheet">
  <script defer src="/vendor/jquery-3.0.0.js" type="text/javascript">
  </script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <script defer src="/scripts/app.js" type="text/javascript">
  </script>
  <script defer src="/scripts/embedyoutube.js" type="text/javascript">
  </script>
</head>
<body>
  <%- include partials/_navbar.ejs %>
  <table class="tagholder" style="border-collapse: inherit">
    <tr>
      <td class="tagsSpan"></td>
      <td colspan="4"></td>
    </tr>
  </table>
  <div class="container resourceWall"></div>
</body>
</html>
