<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Source Code</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>


  <body>

    <%- include partials/_navbar.ejs %>

    <div class="container">
      <div class="row">
         <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
            <div class="caption">
              <h3>TITLE</h3>
              <p>Description - blah blah blah</p>
              <p> Posted by username</p>
            </div>
            <a href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
            <div class = "footer">
              <p>TAG, TAG, TAG</p>
              <img href="" class="likeicon" src="/images/heart.png">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Post a comment<span class="caret"></span></a>
                <div class="dropdown-menu">
                  <h3> Write a Comment</h3>
                  <form>
                    <textarea name="text" placeholder="What do you think?"></textarea>
                    <input type="Submit">
                  </form>
                </div>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View comments<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <div class="comment-box">
                    <p> username 1 </p>
                    <p> This is a comment.</p>
                  </div>
                  <div>
                    <p> username 2</p>
                    <p> This is also a comment.</p>
                  </div>
                  <div>
                    <p> username 2</p>
                    <p> Another comment</p>
                  </div>
                </ul>
              </li>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
            <div class="caption">
              <h3>TITLE</h3>
              <p>Description - blah blah blah</p>
              <p> Posted by username</p>
            </div>
            <a href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
            <div class = "footer">
              <p>TAG, TAG, TAG</p>
              <img href="" class="likeicon" src="/images/heart.png">
              <p><a href="#" class="btn btn-primary" role="button">Post a comment</a> <a href="#" class="btn btn-default" role="button">View comments</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
            <div class="caption">
              <h3>TITLE</h3>
              <p>Description - blah blah blah</p>
              <p> Posted by username</p>
            </div>
            <a href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
            <div class = "footer">
              <p>TAG, TAG, TAG</p>
              <img href="" class="likeicon" src="/images/heart.png">
              <p><a href="#" class="btn btn-primary" role="button">Post a comment</a> <a href="#" class="btn btn-default" role="button">View comments</a></p>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
            <div class="caption">
              <h3>TITLE</h3>
              <p>Description - blah blah blah</p>
              <p> Posted by username</p>
            </div>
            <a href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
            <div class = "footer">
              <p>TAG, TAG, TAG</p>
              <img href="" class="likeicon" src="/images/heart.png">
              <p><a href="#" class="btn btn-primary" role="button">Post a comment</a> <a href="#" class="btn btn-default" role="button">View comments</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
            <div class="caption">
              <h3>TITLE</h3>
              <p>Description - blah blah blah</p>
              <p> Posted by username</p>
            </div>
            <a href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
            <div class = "footer">
              <p>TAG, TAG, TAG</p>
              <img href="" class="likeicon" src="/images/heart.png">
              <p><a href="#" class="btn btn-primary" role="button">Post a comment</a>
               <a href="#" class="btn btn-default" role="button">View comments</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
            <div class="caption">
              <h3>TITLE</h3>
              <p>Description - blah blah blah</p>
              <p> Posted by username</p>
            </div>
            <a href="http://placehold.it"><img src="http://placehold.it/350x150"></a>
            <div class = "footer">
              <p>TAG, TAG, TAG</p>
              <img href="" class="likeicon" src="/images/heart.png">
              <p><a href="#" class="btn btn-primary" role="button">Post a comment</a> <a href="#" class="btn btn-default" role="button">View comments</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/scripts/embedyoutube.js" type="text/javascript"></script>
  </body>
</html>
