<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Source Code</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
    <script defer type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="/scripts/app.js"></script>
    <script defer src="/scripts/embedyoutube.js" type="text/javascript"></script>


  </head>


  <body>
    <%- include partials/_navbar.ejs %>
    <table class="tagholder" style="border-collapse: inherit;">
      <tr >
        <td class="tagsSpan" > </td>
        <td colspan="4"> </td>
      </tr>
    </table>

    <div class="container resourceWall">
    </div>
