<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Source Code</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
    <script defer type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="/scripts/app.js"></script>
    <script defer src="/scripts/embedyoutube.js" type="text/javascript"></script>


  </head>


  <body>
    <%- include partials/_navbar.ejs %>
    <table class="tagholder" style="border-spacing: 10px">
      <tr style="border-spacing: 10px">
        <td class="tagsSpan" style="padding-left: 50px"> </td>
        <td colspan="4"> </td>
      </tr>
    </table>

    <div class="container resourceWall">
      <div class="row">
         <div class="col-sm-6 col-md-4">
           <div class="thumbnail">

              <img href="" class="likeicon" src="/images/heart.png">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Post a comment<span class="caret"></span></a>
                <div class="dropdown-menu">
                  <h3> Write a Comment</h3>
                  <form>
                    <textarea name="text" placeholder="What do you think?"></textarea>
                    <input type="Submit">
                  </form>
                </div>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View comments<span class="caret"></span></a>
                <ul class="dropdown-menu">
                </ul>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
