<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/main.css">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>
    <form action="/register/" method="POST">
  First name:<br>
  <input type="text" name="username" value="">

  <input type="submit" value="Submit">
</form>

<form action="/login" method="POST">
  <label for="login">Login </label>
  <input value="" type="login" name="login">
  <input type="submit" value="submit">
</form>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          item 1
        </div>
        <div class="col-sm-3">
          item 1
        </div>
        <div class="col-sm-3">
          item 1sjhfj kagshjkcfgS DHfgSDHgfhsgDhgSDH gfhjlSDgfihSDfi ughsdhjgfserdiud seuheuighefw
        </div>
        <div class="col-sm-3">
          item 1
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          item 1
        </div>
        <div class="col-sm-3">
          item 1
        </div>
        <div class="col-sm-3">
          item 1
        </div>
        <div class="col-sm-3">
          item 1
        </div>
      </div>
    </div>
    <h1>Hello World!</h1>
    <a href="" class="btn btn-primary btn-lg"> click me </a>
  </body>
</html>
