
.navbar {
  z-index: 1000;
  top: 0;
  position: fixed;
  height: 8em;
  width: 100%;
  background: linear-gradient(#69D2E7, #A7DBD8, #3FB8AF);
  color: black;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
  padding-top: 0.8em;

  .btn{
    padding: 0.5em;
  }

   h1{
  padding-top: 3em;
  padding-left: 0.5em;
  display:inline;
  color: black;
  }

  .caret {
    color: black;
  }

  .navbar-form {
  display: inline;
  }

  .form-control{
    margin-bottom: 1em;
    width: 20em;
  }

  h3{
    color: black;
  }

   .brand-logo {
    padding-top: 0;
    max-height: 5em;

  }

  .profilelink {
  float:right;
  }

 .addresource{
  padding-left: 8em;
  }
    img {
    display: inline;
    max-height: 5em;

  }

}






